# Git
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Laravel environment
.env
.env.*
!.env.example

# Composer
vendor

# Laravel runtime files
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Tests
tests
phpunit.xml
.phpunit.result.cache

# Development tools
.editorconfig
README.md
*.md

# IDE / OS
.idea
.vscode
*.DS_Store
Thumbs.db

# Docker compose
docker-compose*.yml